.hidden {
    display: none;
    visibility: hidden;
}
.bold{
    font-weight: 1000;
}
body {
    /* font-family: 'Electrolize', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'MuseoModerno', cursive; */
    font-family: 'Quantico', sans-serif;
    font-size: 80%;
    background-image: url("https://static.politico.com/b6/64/b13e1e86467fa4233784ed18bb64/politico-friday-5-color.jpg");
    background-size: 100%;
}
header {
    background-color: rgba(14, 20, 31,0.95);
    color: white;
    margin-bottom: 10px;
    margin-left:40px;
    margin-right:40px;
    margin-top: 10px;
    padding:10px;
    border: 0px solid black;
    border-radius: 10px;
}
section.output {
    background-color: rgba(28, 41, 59,0.95);
    color: white;
    margin-left:40px;
    margin-right:40px;
    margin-bottom: 10px;
    border: 0px solid black;
    border-radius: 10px;
}
section.QA {
    background-color: rgba(45, 40, 56,0.95);
    color: white;
    margin-left:40px;
    margin-right:40px;
    border: 0px solid black;
    border-radius: 10px;
}
button {
    background-color:  rgb(108, 51, 160);
    color: white;
    font-size: 32px;
    padding: 10px;
    border: 0px solid black;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 200px;
}
button:hover {
    background-color: rgb(153, 98, 203);
}
footer{
    margin-left: 40px;
    margin-top: 40px;
    color: white;
    background-color: rgba(14, 20, 31,0.45);
    position: absolute;
    border: 0px solid black;
    border-radius: 10px;
}
li {
    display: inline-block;
}
li {
    color: #95c7cf;
}
li::before {
    content: "| ";
}
li:hover {
    color: white;
}
legend {
    font-size: 130%;
}
p {
    margin:0;
    padding: 20px;
}
h1 {
    margin:10px;
}
.gray {
    color: gray;
}
label {
    line-height: 2;
    cursor: pointer;
}
[type=radio] { 
/*     position: absolute; */
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */
[type=radio] + img {
    width: 27px;
    vertical-align: -20%;
    filter: grayscale(1);
/*     filter: saturate(0); */
}
label:hover {
    filter: brightness(.9);
    transition: all 100ms ease-in;
}
label:focus-within {
    color: #95d9e3;
    transition: all 300ms ease-in;
/*     font-size: 110%; */
}
/* CHECKED STYLES */
[type=radio]:checked + img {
/*     outline: 1px dashed #95d9e3; */
    width : 30px;
    vertical-align: -24%;
    filter: invert();
    transition: all 200ms ease-in;
}
